body {
    overflow-x: hidden;
}

header{
    background-color: #2980B9;
    width: 100%;
    height: 100px;
    padding: 0px 0px 0px 300px;
    line-height: 150px;
}

.corpo{
    height: 1700px;
}

span{
    font-weight: bold;
}

#menu_icon{
    float: left;
    height: 100px;
    position: absolute;
    left: 100px;
}

#imagem_logo{
    float: left;
    height: 100px;
    position: absolute;
    left: 300px;
    top: 2px;
}

#titulo{
    color: white;
    float: left;
    height: 100px;
    position: absolute;
    left: 550px;
    top: -4%;
}

#facebook{
    float: left;
    margin: 0 15px;
    width: 90px;
    height: 30px;
    background-color: white;
    border: none;
    font-size: 10px;
    position: absolute;
    left: 950px;
    top: 50px;
    cursor: pointer;
    color: #01579B;
}

#twitter{
    float: left;
    margin: 0 15px;
    width: 90px;
    height: 30px;
    background-color: white;
    border: none;
    font-size: 10px;
    position: absolute;
    left: 1050px;
    top: 50px;
    cursor: pointer;
    color:  #00B0FF;
}

/***************************** Imagem principal *******************************/
section#corpo{
    background-color: #ECF0F1;
    width: 100%;
    height: 1500px;
}

figure.imagem_principal{
    position: relative;
    display: block;
    margin-left: 80px;
    margin-top: 60px;
}

figure.imagem_principal img{
    width: 1139px;
    height: 450px;
}

figure.imagem_principal figcaption{
    position: absolute;
    top: 350px;
    color: white;
}

figure.imagem_principal h3 {
    background-color: #2980B9;
    height: 30px;
    width: 500px;
    margin: 5px;
    padding-top: 10px;
    text-align: center;
    vertical-align: central;
}

figure.imagem_principal p{
    height: 30px;
    left: 10px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    vertical-align: central;
    text-align: justify;
}

/************************ Primeira linha de imagens ***************************/

div#primeira_linha_imagens{
    position: relative;
    display: inline-block;
}

h1#top_calcidis{
    position: relative;
    font-size: 30px;
    left: 80px;
    top: 50px;
    color: #38272d;
}

figure.primeira_linha_imagens_01{
    position: relative;
    left: 80px;
    top: 60px;
    float: left;
}

.titulos_primeira_linha{
    position: relative;
    top: -40px;
    left: 0px;
    background-color: #E74C3C;
    color: #ECF0F1;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    opacity: 0.8;
}


figure.primeira_linha_imagens_02{
    position: relative;
    left: 120px;
    top: 60px;
    float: left;
}

figure.primeira_linha_imagens_03{
    position: relative;
    left: 160px;
    top: 60px;
    float: left;
}

/************************** Quadrado de imagens *******************************/
h1#divoltis_porris{
    position: relative;
    top: 80px;
    left: 80px;
    font-size: 30px;
    color: #38272d;
}

h3.titulos_quadrado_imagens{
    position: relative;
    padding-top: 20px;
    font-size: 20px;
    color: #2980B9;
    opacity: 0.9;
}

p.subtitulos_quadrado_imagens{
    padding-top: 10px;
    font-size: 15px;
    width: 370px;
    color: #38272d;
    opacity: 0.9;
}

section#quadrado_imagens{
    float: left;
    position: relative;
    display: inline-block;
    font-size: 30px;
    left: 80px;
    top: 90px;
    color: #38272d;
}

figure#primeira_imagem_quadrado{
    float: left;
}

figure#segunda_imagem_quadrado{
    position: relative;
    float: left;
    left: 35px;
}

section#segunda_linha_quadrado_imagens{
    position: relative;
    top: 20px;
    display: inline-block;
}

figure#terceira_imagem_quadrado{
    float: left;
}

figure#terceira_imagem_quadrado img{
    max-width:360px;
    max-height:215px;
    width: auto;
    height: auto;
}

figure#quarta_imagem_quadrado{
    float: left;
    position: relative;
    left: 40px;
}

figure#quarta_imagem_quadrado img{
    max-width:350px;
    max-height:210px;
    width: auto;
    height: auto;
}

/**************************** Imagem Lateral **********************************/
section#imagem_lateral{
    position: relative;
    float: left;
    top: 90px;
    left: 170px;
}


/***************************** Ultimos Componenetes ***************************/

section#componentes_finais{
    position: relative;
    top: 800px;
}

section #primeiro_componente{
    position: relative;
    float: left;
    left: -960px;
    top: 0px;
}

h1#titulo_primeiro_componente{
    position: relative;
    float: left;
    top: 0px;
    font-size: 15px;
    color: #00B0FF;
}

h2.componente_final{
    position: relative;
    top: 50px;
}

/******************************* Rodape ***************************************/
footer{
    background-color: #211f72;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    top: 1900px;
}

#imagem_rodape{
    float: left;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 20px;
}

#texto_rodape{
    float: left;
    height: 100px;
    position: absolute;
    left: 250px;
    font-size: 15px;
    top: 25px;
    width: 70%;
}
